#############
## MAGENTO SOURCE CODE
#############
app/.htaccess
app/Mage.php
app/code/
app/etc/
app/locale/
app/design/adminhtml/default/default/
app/design/install/
app/design/frontend/
downloader/
var/
errors/
includes/
shell/
pkginfo/
js/
lib/
media/
skin/adminhtml/default/default/
skin/frontend/
skin/install/
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
### EXCLUDE MODULE FILES
!app/code/local/MST/Titan/
!app/design/adminhtml/default/default/layout/titan.xml
!app/design/frontend/t2/
!app/etc/modules/MST_Titan.xml
!skin/adminhtml/default/default/titan/
!skin/frontend/t2/
!app/design/adminhtml/default/default/template/titan/
!skin/adminhtml/default/default/titan/structural-blocks.jpg