#############
## MAGENTO SOURCE CODE
#############
app/*
downloader/*
var/*
errors/*
includes/*
shell/*
pkginfo/*
js/*
lib/*
media/*
skin/*
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
### EXCLUDE MODULE FILES
!app/code/local/MST/Ajaxaddtocart/*
!app/code/local/MST/Menupro/*
!app/code/local/MST/Titan/*
!app/design/adminhtml/default/default/layout/menupro.xml
!app/design/adminhtml/default/default/layout/titan.xml
!app/design/adminhtml/default/default/template/menupro/*
!app/design/adminhtml/default/default/template/titan/*
!app/design/frontend/t2/*
!app/etc/modules/MST_Ajaxaddtocart.xml*
!app/etc/modules/MST_Menupro.xml*
!app/etc/modules/MST_Titan.xml*
!js/mst_ajaxaddtocart/*
!skin/adminhtml/default/default/menupro/*
!skin/adminhtml/default/default/titan/*
!skin/frontend/t2/*