#ajaxaddtocart-progress {
    border: 1px #999999 solid;
    position: fixed;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    z-index: 111111;
    color: black;
    overflow: auto;
    min-height: 40px;
    min-width: 260px;
}

#ajaxaddtocart-progress img {
    margin: 5px auto 0;
}

#ajaxaddtocart-progress p {
    margin: 0;
}

#ajaxaddtocart-add-confirm,
#ajaxaddtocart-remove-confirm {
    position: fixed;
    border: 1px #999999 solid;
    text-align: center !important;
    padding: 10px;
    background-color: #ffffff;
    z-index: 110000;
    color: black;
    overflow: auto;
    min-height: 20px;
    min-width: 260px;
    width: auto;
    height: auto;
}

.ajaxaddtocart-box-hide {
    display: none;
}

.ajaxaddtocart-box-show {
    display: block;
}

#ajaxaddtocart-add-confirm p,
#ajaxaddtocart-remove-confirm p {
    width: 260px;
}

.bac-msg-block {
    font-weight: bold;
    background-image: none;
    padding: 0!important;
    min-height: 0!important;
    font-size: 12px !important;
    text-align: center;
}

.mst-bac-continue, .mst-bac-checkout, .mst-bac-continue:hover, .mst-bac-checkout:hover {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0 5px;
    padding: 0 10px;
    text-decoration: none;
}

.mst-bac-continue , .mst-bac-checkout {
    background: none repeat scroll 0 0 #F2532F;
    color: #FFFFFF;
}

.mst-bac-continue:hover , .mst-bac-checkout:hover {
    background: none repeat scroll 0 0 #000;
}

#bac-configurable-block #bundle-product-wrapper {
    z-index: 1000;
}

#bac-configurable-block dl {
    text-align: left;
    padding-left: 10px;
}

#bac-configurable-block .price {
    font-size: 14px;
}

#bac-configurable-block .product-name {
    text-align: center;
    display: block;
    margin: 10px 0 10px;
    font-size: 14px;
    font-weight: bold;
}

#bac-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
    z-index: 9999;
}

#bac-overlay[id] {
/* IE6 and below Can't See This */
position:fixed;
}

#bac-product-options
{
min-width: 200px;
position: fixed;
overflow:  auto;
z-index:1000;
background-color: white;
padding: 10px;
width: auto;
height: auto;
/*position:absolute;*/
/*top: expression(parseInt(document.documentElement.scrollTop, 10) +window.BACTop+ "px");*/
}

#bac-product-options .mst-bac-continue,
#bac-product-options .mst-bac-checkout{
display: inline-block;
text-align: center;
text-decoration: none;
}

#bac-product-options .mst-bac-btn-container{
margin: 10px auto 10px auto;display:block;float:none;width:auto;text-align:center;
padding-left: 20px;
}

#bac-product-options .giftcard-send-form{
margin: 0;
}

#bac-product-options .product-options dt label.required em {
color: #EB340A;
margin-left: 5px;
}

#bac-product-options .product-options-bottom{
background:none;border:0;
}
#bac-product-options .product-options-bottom .price-box{float:none;}
#bac-product-options .product-options-bottom .add-to-cart{float:none;clear:both;text-align:center;display:block;}
#bac-product-options .product-options-bottom .sharing-links{display:none;}
#bac-product-options .product-options-bottom .add-to-cart label{display:inline;float:none;}
#bac-product-options .product-options-bottom .add-to-cart .qty{display:inline;float:none;}
#bac-product-options .product-options-bottom .add-to-cart button.btn-cart{display:none;}
#bac-product-options .product-options-bottom .add-to-links{display:none;}
#bac-product-options .product-options-bottom .add-to-cart .qty-wrapper{display:block;text-align:center;}
#bac-product-options #product-options-wrapper
{
margin:0;background:none;border:0;
text-align:center; padding: 5px 15px;
}
#bac-product-options  .product-options-bottom { padding: 5px 20px; }
.map-popup
{
z-index: 1001 !important;
}
.added-content {min-height: 50px;padding: 5px;text-align: center; width: 800;overflow:hidden; }
.added-content > div{}
.added-content > div.cart{width:800px;}
.added-content .product-image { float: left; display: block; }
.added-content .product-image img {border: 1px solid #F5F5F5;height: 60px;margin: 0 8px 13px 0;width: 60px;}
.added-content em {font-weight: bold;}
/* {background: none repeat scroll 0 0 #F2532F;margin: 0;} */
/* ------------------------------------------------------- */
.block-dropdowncart { text-align: left; clear: both; margin: 15px 0 0; float: right; line-height: 1.35;  }
.minicart-wrapper .icon {background-color: #F2532F; transition: all 200ms ease-in-out 0s; }
.minicart-wrapper .icon { background: url("../images/cartmini.png") no-repeat scroll 12px center #F2532F; border-radius: 2px;cursor: pointer;float: right;height: 39px;margin-right: 1px;margin-top: -3px;width: 39px;z-index: 2; padding: 0; }
.minicart-wrapper .icon:hover {background-color: #000;}

.minicart {float: right;width: 200px;}
.block-cart-header {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;margin: 0;padding: 0 0 0 5px;position: relative;}
.block-cart-header .block-content {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);padding: 0;}
.block-cart-header .button-show { color: #000000; -moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #FFFFFF;border-color: #EDE9E9 -moz-use-text-color #EDE9E9 #EDE9E9;border-image: none;border-style: solid none solid solid;border-width: 1px 0 1px 1px; float: right;padding: 9px 18px 6px 10px;position: relative;}
.block-cart-header .button-show .price { color: #F2532F; }
.block-cart-header #header-items {background-color: #FFFFFF;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);display: none;padding: 15px;position: absolute;right: -40px;top: 35px;width: 300px;z-index: 9999;}
.block-dropdowncart:hover  #header-items, .block-cart-header #header-items:hover { display: block; }
.button-show { cursor: pointer; }
.block-cart-header .block-subtitle {border-bottom: medium none;}
.block-cart-header .block-subtitle {border-bottom: 1px solid #F5F5F5;margin: 5px 0 6px;padding: 0 0 2px;text-transform: uppercase;}
.block-cart-header .block-subtitle span {display: block;}

.block-cart-header .mst-summary  {clear: both;font-size: 14px;margin: 5px 0;padding: 5px;text-align: right;text-transform: uppercase;z-index: 1;}
.block-cart-header .mst-summary  .price { color: #F2532F; }

.block-cart-header .button { transition: all 200ms ease-in-out 0s; background: none repeat scroll 0 0 #F2532F;border: medium none;border-radius: 3px;color: #FFFFFF;cursor: pointer;display: inline-block;height: 27px;margin: 0;overflow: visible;padding: 0 17px;text-align: center;text-transform: uppercase;white-space: nowrap;width: auto;}
.block-cart-header .button:hover { background: #000; }
.block-cart-header button.button span { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border: medium none; color: #FFFFFF; height: 27px; line-height: 27px; padding: 0; }
.block-cart-header .btn-view {float: left;margin-right: 10px;width: 145px;}
.block-cart-header .btn-checkout span, .block-cart-header .btn-view span {font-weight: 300;}
.block-cart-header .btn-checkout {float: left;width: 145px;}

.block-cart-header #header-items li.item { background:none; padding: 10px 0 5px; }
.mini-products-list .product-image {border: 1px solid #F5F5F5;float: left;width: 50px;}
.mini-products-list .product-details {margin-left: 60px;}
.block .btn-remove, .block .btn-edit {float: right;margin: 1px 0 2px 10px;}
.block-cart-header #header-items .btn-edit {clear: right;}
.block-cart-header .product-name {color: #4F8100;}

.block-dropdowncartlink { text-align: left; position:absolute; line-height: 1.35;  }
.header .links li{position:relative;}
.header .links li:hover #header-items1,.header .links li #header-items:hover{display:block}
.block-cart-header #header-items1 li.item { background:none; padding: 10px 0 5px; width:100%;}
.block-cart-header #header-items1 .btn-edit {clear: right;}
.block-cart-header #header-items1 {background-color: #FFFFFF;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);display: none;padding: 15px;position: absolute;right: -40px;top: 0;width: 300px;z-index: 9999;}

#ajaxaddtocart-add-confirm .block-cart-header .truncated .truncated_full_value .item-options { background: none repeat scroll 0 0 #fff;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);  }
#ajaxaddtocart-add-confirm button.btn-continue{background: none;height:33px;width:148px;position:absolute;left: 25px; top: 10px;padding:0px;}
#ajaxaddtocart-add-confirm  button.btn-continue span{/*background: linear-gradient(to bottom, #306B9B 25%, #002A5B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #003673 #003066 #002A59; color: #FFFFFF;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25); border-radius: 2px;*/background:none;border:0;line-height: 33px;height:33px;padding:0;margin:0;width:148px;}
#ajaxaddtocart-add-confirm  button.btn-continue span span{background: linear-gradient(to bottom, #306B9B 25%, #002A5B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #003673 #003066 #002A59; color: #FFFFFF;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25); border-radius: 2px;line-height: 33px;height:33px;padding:0;margin:0;width:148px;font-weight:bold;
background: #316b9c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMzMTZiOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAyYjVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(207,52%,40%,1) 25%, hsla(212,100%,18%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(207,52%,40%,1)), color-stop(100%,hsla(212,100%,18%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316b9c', endColorstr='#002b5d',GradientType=0 ); /* IE6-8 */
border-color: #003066;
border-bottom-color: #002a59;
border-top-color: #003673;
-webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 0 hsla(0, 0%, 0%, 0.25);
box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 0 hsla(0, 0%, 0%, 0.25);
}
#ajaxaddtocart-add-confirm  button.btn-continue:hover span span{
background: #387db5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMzODdkYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzNzc1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(207,53%,47%,1) 25%, hsla(212,100%,23%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(207,53%,47%,1)), color-stop(100%,hsla(212,100%,23%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(207,53%,47%,1) 25%,hsla(212,100%,23%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(207,53%,47%,1) 25%,hsla(212,100%,23%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(207,53%,47%,1) 25%,hsla(212,100%,23%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(207,53%,47%,1) 25%,hsla(212,100%,23%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#387db5', endColorstr='#003775',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm  .cart button{display: block; line-height: normal; /* padding: 0; */ text-transform: capitalize;}
#ajaxaddtocart-add-confirm  .cart button span{display:block;}
#ajaxaddtocart-add-confirm  .cart .page-title h1{text-transform: capitalize;font-size:20px;float:none !important;text-align:center;margin:0;height: 25px; line-height: 25px;color:#fff;}
#ajaxaddtocart-add-confirm  .cart .page-title{margin-left: -25px; margin-right: -25px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); height: 25px; padding: 14px 25px; position: relative;background: linear-gradient(to bottom, #306B9B 25%, #002A5B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #003673 #003066 #002A59; color: #FFFFFF;
background: #316b9c; /* Old browsers */box-sizing: content-box !important;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMzMTZiOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAyYjVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(207,52%,40%,1) 25%, hsla(212,100%,18%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(207,52%,40%,1)), color-stop(100%,hsla(212,100%,18%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(207,52%,40%,1) 25%,hsla(212,100%,18%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316b9c', endColorstr='#002b5d',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm  .cart .title-buttons .checkout-types{float:none;}
#ajaxaddtocart-add-confirm  .cart .title-buttons .checkout-types li{}
#ajaxaddtocart-add-confirm button.btn-checkout{ background:none;right: 25px; top: 10px;position:absolute;width: 200px; padding:0px; /*font-size: 1.5455em; font-weight: 600;*/}

#ajaxaddtocart-add-confirm button.btn-checkout span{background:none;padding:0;/*font-size: 1.5455em; font-weight: 600;*/ height: 35px; line-height: 31px;}
#ajaxaddtocart-add-confirm button.btn-checkout span span{padding:0;/*font-size: 1.5455em; font-weight: 600;*/ height: 35px; line-height: 31px;font-weight:bold;
border-radius: 2px; height: 35px; width: 200px;line-height: 31px;  background: linear-gradient(to bottom, #6B9C2F 25%, #2A5B00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #367300 #306600 #2A5900; color: #FFFFFF;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25);
background: #6b9c30; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM2YjljMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmI1YzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(87,53%,40%,1) 25%, hsla(92,100%,18%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(87,53%,40%,1)), color-stop(100%,hsla(92,100%,18%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b9c30', endColorstr='#2b5c00',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm button.btn-checkout:hover span span{
background: #7db538; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM3ZGI1MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzc3NTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(87,53%,47%,1) 25%, hsla(92,100%,23%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(87,53%,47%,1)), color-stop(100%,hsla(92,100%,23%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db538', endColorstr='#377500',GradientType=0 ); /* IE6-8 */
}
/*#ajaxaddtocart-add-confirm *, #ajaxaddtocart-add-confirm *:before,#ajaxaddtocart-add-confirm *:after {box-sizing: content-box;}*/
#ajaxaddtocart-add-confirm *, #ajaxaddtocart-add-confirm *:before,#ajaxaddtocart-add-confirm *:after {
box-sizing: content-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;  
}
#ajaxaddtocart-add-confirm .data-table tbody th, .data-table tbody td{border:0;background:none;}
#ajaxaddtocart-add-confirm .data-table tbody td{border-bottom: 1px solid #BFBFBF;text-align:left;}
#ajaxaddtocart-add-confirm .data-table .odd{background:none;}
#ajaxaddtocart-add-confirm .data-table .even{background:none;}
#ajaxaddtocart-add-confirm .data-table thead th{text-transform: capitalize;background:none;border:0;text-align: left;border-bottom: 2px solid #BFBFBF !important; box-sizing: border-box; color: #111111; line-height: 20px; padding: 0 10px;font-size:12px;font-weight:bold;}
#ajaxaddtocart-add-confirm .data-table thead tr.last th{border-bottom: 2px solid #BFBFBF !important;}
#ajaxaddtocart-add-confirm .data-table{border:0;background:#fff;}
#ajaxaddtocart-add-confirm .data-table .product-image{box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); display: block; float: left; height: 75px; margin: 0 15px 0 0; width: 75px;}
#ajaxaddtocart-add-confirm .data-table .product-name{color: #111111; display: block; font-size: 1.0909em; font-weight: bold; line-height: 15px; margin: 7px 0 0;}
#ajaxaddtocart-add-confirm .data-table .product-name a{color: #111111; display: block; font-size: 12px; font-weight: bold; line-height: 15px; margin: 7px 0 0;text-transform: capitalize;}
#ajaxaddtocart-add-confirm .data-table tbody td .btn-remove2{background:none;font-size:11px;width:auto;line-height:26px;text-indent:0;color:#D12F29;height:auto;font-weight:600;text-decoration: none;}
#ajaxaddtocart-add-confirm .data-table thead.hide_popup{display:none}
#ajaxaddtocart-add-confirm .data-table tfoot{display:none}
#ajaxaddtocart-add-confirm .data-table tbody td input.qty{ margin: 0 auto; text-align: center; width: 32px;background: linear-gradient(to bottom, #F2F2F2 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #BFBFBF; border-radius: 0; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset; box-sizing: content-box; display: block; height: 17px; line-height: 17px; padding: 3px 8px;border-color: #BFBFBF;}
#ajaxaddtocart-add-confirm .cart .discount h2{display:block;background:none;font-size:13px;font-weight:bold;height: 27px; line-height: 27px; margin-right: 10px;float:left;color:#333333;width:auto;text-transform: none;padding:0;margin-bottom:0;}
#ajaxaddtocart-add-confirm .cart .cart-collaterals{display:block;overflow:hidden;}
#ajaxaddtocart-add-confirm .cart .discount, .cart .shipping{background:none;border:0;padding:0;margin:0;overflow:hidden;}
#ajaxaddtocart-add-confirm .cart .discount .discount-form{display:block;float:left;}
#ajaxaddtocart-add-confirm .cart .discount .input-box{float: left; margin-right: 10px; width: auto;display:block;margin-top:1px;padding:0;}
#ajaxaddtocart-add-confirm .cart .discount input.input-text{width:82px;background: linear-gradient(to bottom, #F2F2F2 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #BFBFBF; border-radius: 0; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset; box-sizing: content-box; display: block; height: 19px; line-height: 19px; padding: 3px 8px;margin:0;}
#ajaxaddtocart-add-confirm .cart .discount .buttons-set{background:none;display:block;float:left;clear:none;margin-top:0;min-width:266px;border:0;padding:0;}
#ajaxaddtocart-add-confirm .cart .discount .buttons-set button.button{background:none;display:block;float:left;}
#ajaxaddtocart-add-confirm .cart .discount .buttons-set button.button span{background:none;padding:0;border-color:transparent;line-height:26px;height:auto;}
#ajaxaddtocart-add-confirm .cart .discount .buttons-set button.button span span{box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset; color: #005FCC;height: 25px; width: 120px;background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #BFBFBF;border-style: solid; border-width: 1px;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  hsla(0,0%,100%,1) 0%, hsla(0,0%,95%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,100%,1)), color-stop(100%,hsla(0,0%,95%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(0,0%,100%,1) 0%,hsla(0,0%,95%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(0,0%,100%,1) 0%,hsla(0,0%,95%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(0,0%,100%,1) 0%,hsla(0,0%,95%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(0,0%,100%,1) 0%,hsla(0,0%,95%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

border-color: #bfbfbf;
}

#ajaxaddtocart-add-confirm .cart .discount .buttons-set button.button:hover span span{background: linear-gradient(to bottom, #FFFFFF 0%, #D8D8D8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #d8d8d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#d8d8d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm .cart .totals{background:none;border:0;}
#ajaxaddtocart-add-confirm .box-button{display:block;overflow:hidden;}
#ajaxaddtocart-add-confirm .box-button button.btn-continue1{background:none;margin:0;padding:0;display:block;float:left;}
#ajaxaddtocart-add-confirm .box-button button.btn-continue1 span{background:none;margin:0;padding:0;display:block;height:auto;border:0;}
#ajaxaddtocart-add-confirm .box-button button.btn-continue1 span span{border-radius: 2px; height: 33px; line-height: 33px; text-align: center; text-decoration: none;width: 148px;background: linear-gradient(to bottom, #FFD400 25%, #FFAA00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #FFAA00 #F2A200 #E59900; color: #333333;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25);
background: #ffd400; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmQ0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZhYTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(50,100%,50%,1) 25%, hsla(40,100%,50%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(50,100%,50%,1)), color-stop(100%,hsla(40,100%,50%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(50,100%,50%,1) 25%,hsla(40,100%,50%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(50,100%,50%,1) 25%,hsla(40,100%,50%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(50,100%,50%,1) 25%,hsla(40,100%,50%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(50,100%,50%,1) 25%,hsla(40,100%,50%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#ffaa00',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm .box-button button.btn-continue1:hover span span{background: linear-gradient(to bottom, #FFE565 25%, #FFC34C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
background: #ffe566; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmU1NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZjMzRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(50,100%,70%,1) 25%, hsla(40,100%,65%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(50,100%,70%,1)), color-stop(100%,hsla(40,100%,65%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(50,100%,70%,1) 25%,hsla(40,100%,65%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(50,100%,70%,1) 25%,hsla(40,100%,65%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(50,100%,70%,1) 25%,hsla(40,100%,65%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(50,100%,70%,1) 25%,hsla(40,100%,65%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe566', endColorstr='#ffc34c',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm .box-button button.btn-checkout1{background:none;margin:0;padding:0;display:block;float:right;}
#ajaxaddtocart-add-confirm .box-button button.btn-checkout1 span{background:none;margin:0;padding:0;display:block;height:auto;border:0;}
#ajaxaddtocart-add-confirm .box-button button.btn-checkout1 span span{border-radius: 2px;border-radius: 2px;  font-weight: bold; height: 35px; line-height: 31px;  width: 200px;background: linear-gradient(to bottom, #6B9C2F 25%, #2A5B00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #367300 #306600 #2A5900; color: #FFFFFF;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25);
background: #6b9c30; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM2YjljMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmI1YzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(87,53%,40%,1) 25%, hsla(92,100%,18%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(87,53%,40%,1)), color-stop(100%,hsla(92,100%,18%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(87,53%,40%,1) 25%,hsla(92,100%,18%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b9c30', endColorstr='#2b5c00',GradientType=0 ); /* IE6-8 */
border-color: #306600;
border-bottom-color: #2a5900;
border-top-color: #367300;
color: #FFF;
}
#ajaxaddtocart-add-confirm .box-button button.btn-checkout1:hover span span{background: linear-gradient(to bottom, #7EB738 25%, #367500 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
background: #7db538; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM3ZGI1MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzc3NTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  hsla(87,53%,47%,1) 25%, hsla(92,100%,23%,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,hsla(87,53%,47%,1)), color-stop(100%,hsla(92,100%,23%,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsla(87,53%,47%,1) 25%,hsla(92,100%,23%,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db538', endColorstr='#377500',GradientType=0 ); /* IE6-8 */
}
#ajaxaddtocart-add-confirm .cart .totals table{margin:0;}
#ajaxaddtocart-add-confirm .cart .totals table tfoot tr td{padding:5px 15px 5px 7px;}
#ajaxaddtocart-add-confirm .cart .totals tbody th,.cart .totals tbody td{font-weight:bold;padding:1px 15px 1px 7px;}
#ajaxaddtocart-add-confirm .cart .totals td span{font-weight:bold;}
#ajaxaddtocart-add-confirm .data-table tr.last td{border-bottom:1px solid #BFBFBF !important;}
#ajaxaddtocart-add-confirm .cart .cart-collaterals .col2-set > .col-1{display:none}
#ajaxaddtocart-add-confirm .cart .cart-collaterals .col2-set{width:auto;display:block;float:left;}
#ajaxaddtocart-add-confirm .cart .cart-collaterals .col2-set > .col-2{width:auto;padding:0;}
#ajaxaddtocart-add-confirm .cart .cart-collaterals .col2-set .shipping{display:none;}
#ajaxaddtocart-add-confirm .mst_popup_extra{display:none;}
#ajaxaddtocart-add-confirm .cart .data-table.cart-table{width:100%;font-size:12px;color:#111111;}
.mst_popup_total{display:none;}
#ajaxaddtocart-add-confirm .totals{display:none;}
#ajaxaddtocart-add-confirm .mst_popup_total{display:block;float:right;}
.title_popup{display:none;}
#ajaxaddtocart-add-confirm  .page-title{display:none;}
#ajaxaddtocart-add-confirm  .title_popup{display:block;}
.box-button{display:none;}
#ajaxaddtocart-add-confirm  .box-button{display:block;}
.td_show_popup{}
#ajaxaddtocart-add-confirm .td_hide_popup{display:none}
.mst_show{display:block !important;}
.page-title{}

#ajaxaddtocart-add-confirm  .hide_popup{display:none;}
.empty_popup{display:none;}
#ajaxaddtocart-add-confirm .empty_popup{display:block;min-width:666px;}
.empty_popup header a.continue:before, .empty_popup footer a.continue:before{border-radius: 2px;}
.empty_popup header a.continue, .empty_popup footer a.continue { border-radius: 2px; height: 33px; left: 0; line-height: 33px; position: absolute; text-align: center; text-decoration: none; top: 0; width: 148px; }
.empty_popup header{margin-left: -25px; margin-right: -25px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);margin-bottom:26px; height: 25px; padding: 14px 25px; position: relative;background: linear-gradient(to bottom, #306B9B 25%, #002A5B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #003673 #003066 #002A59; color: #FFFFFF;}
.empty_popup header h1{height: 25px; line-height: 25px; margin: 0; text-align: center;color:#fff} 
.empty_popup header a.continue{border-radius: 2px; height: 33px; left: 25px; line-height: 33px; position: absolute; text-align: center; text-decoration: none; top: 10px; width: 148px;background: linear-gradient(to bottom, #306B9B 25%, #002A5B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #003673 #003066 #002A59; color: #FFFFFF;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25);} 
.empty_popup header a.continue:hover{background: linear-gradient(to bottom, #387EB7 25%, #003675 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);} 
.empty_popup footer {height: 35px; margin: 40px 0 0; position: relative;}
.empty_popup footer a.continue{border-radius: 2px; height: 33px; left: 0; line-height: 33px; position: absolute; text-align: center; text-decoration: none; top: 0; width: 148px;background: linear-gradient(to bottom, #FFD400 25%, #FFAA00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-color: #FFAA00 #F2A200 #E59900; color: #333333;border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.25);}
.empty_popup footer a.continue:hover{background: linear-gradient(to bottom, #FFE565 25%, #FFC34C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
img.newload{display:none;}
.mst_showload{z-index:111111 !important;border:0 !important; background-color: rgba(0, 0, 0, 0) !important;}
.mst_showload img{display:none;}
.mst_showload p{display:none;}
.mst_showload img.newload{display:block;}
#bac-configurable-block { position: relative;  z-index: 9999; }
#bac-configurable-block #bac-product-options > p.availability{display:none;}
#bac-configurable-block #bac-product-options > .price-box-bundle{display:none;}
#bac-configurable-block #bac-product-options > .price-box{display:none;}
@media only screen and ( min-width: 956px )   { 
.popup_productdetail{display:none;}
}
@media only screen and ( max-width: 955px )  { 
.added-content > div.cart{display:none;}
}
img.flyImagetobasket{
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;border:1px solid rgb(204,204,204);
}