<?xml version="1.0"?>
<config>
    <modules>
        <MST_Ajaxaddtocart>
            <version>5.1.3</version><platform>ce</platform>
        </MST_Ajaxaddtocart>
    </modules>
    <global>
        <blocks>
            <ajaxaddtocart>
                <class>MST_Ajaxaddtocart_Block</class>
            </ajaxaddtocart>
        </blocks>
        <helpers>
            <ajaxaddtocart>
                <class>MST_Ajaxaddtocart_Helper</class>
            </ajaxaddtocart>
        </helpers>
        <models>
            <ajaxaddtocart>
                <class>MST_Ajaxaddtocart_Model</class>
				<resourceModel>ajaxaddtocart_mysql4</resourceModel>
            </ajaxaddtocart>
            <ajaxaddtocart_mysql4>
                <class>MST_Ajaxaddtocart_Model_Mysql4</class>
				<entities>
					<license>
                        <table>mst_license</table>
                    </license>
                </entities>
            </ajaxaddtocart_mysql4>			
        </models>		
			
        <resources>
            <ajaxaddtocart_setup>
                <setup>
                    <module>MST_Ajaxaddtocart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxaddtocart_setup>
            <ajaxaddtocart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxaddtocart_write>
            <ajaxaddtocart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxaddtocart_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ajaxaddtocart>
            <use>standard</use>
            <args>
                <module>MST_Ajaxaddtocart</module>
                <frontName>ajaxaddtocart</frontName>
            </args>
            </ajaxaddtocart>
        </routers>
		<events>      			
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <ajaxaddtocart_action_postdispatch_catalog_product_view>
                        <class>ajaxaddtocart/observer</class>
                        <method>getConfigurableOptions</method>
                    </ajaxaddtocart_action_postdispatch_catalog_product_view>
                </observers>
            </controller_action_postdispatch_catalog_product_view>       
			 <!--controller_action_postdispatch>
				<observers>
					<ajaxaddtocart_controller_action_after>
						<class>ajaxaddtocart/observer</class>
						<method>getConfigurableOptions</method>
					</ajaxaddtocart_controller_action_after>
				</observers>
			</controller_action_postdispatch-->
		</events>		
        <layout>
            <updates>
                <MST_Ajaxaddtocart module="MST_Ajaxaddtocart">
                    <file>ajaxaddtocart.xml</file>
                </MST_Ajaxaddtocart>
            </updates>
        </layout>
        <translate>
            <modules>
                <MST_Ajaxaddtocart>
                    <files>
                        <default>MST_Ajaxaddtocart.csv</default>
                    </files>
                </MST_Ajaxaddtocart>
            </modules>
        </translate>
    </frontend>    
    <adminhtml>       
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxaddtocart>
                                            <title>MageBay - AJAX Cart Pro</title>
                                        </ajaxaddtocart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MST_Ajaxaddtocart>
                    <files>
                        <default>MST_Ajaxaddtocart.csv</default>
                    </files>
                </MST_Ajaxaddtocart>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxaddtocart>
            <general>
				<enabled>1</enabled>
				<dropdowncart>0</dropdowncart>
				<optionefect>1</optionefect>
				<flyimageto>1</flyimageto>
				<confirmblock>1</confirmblock>
				<loadjquery>1</loadjquery>
            </general>
        </ajaxaddtocart>
    </default>	
</config>
