<?xml version="1.0"?>
<config>
	<tabs>
        <mst translate="label" module="ajaxaddtocart">
            <label>Magebay.com</label>
            <sort_order>300</sort_order>
        </mst>
    </tabs>
    <sections>
        <ajaxaddtocart translate="label" module="ajaxaddtocart">
            <label>Ajax Cart Pro</label>
            <tab>mst</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<info>
                    <frontend_model>ajaxaddtocart/system_config_info</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                </info>
				
                <general translate="label">
                    <label>General</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Ajax Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>					
                        <uploadajaxloadingimage translate="label">
                            <label>Upload Ajax loading image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">ajaxaddtocart</upload_dir>
                            <base_url type="media" scope_info="1">ajaxaddtocart</base_url>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </uploadajaxloadingimage>	
						<dropdowncart>
                            <label>Drop Down Cart</label>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </dropdowncart>
						<!--flyefect>
							<label>Fly Efect To Cart BLock</label>
							<comment><![CDATA[input Id or Class of block ]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>46</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</flyefect-->
						<optionefect translate="label, comment">
							<label>Show Progress Animation </label>
							<comment><![CDATA[Show Progress Animation when adding product to cart]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>ajaxaddtocart/source_loading</source_model>
							<sort_order>46</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</optionefect>						
						<flyimageto>
							<label>Animated product image files to </label>
							<comment><![CDATA[fly item to the top link or block cart]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>ajaxaddtocart/source_optionfly</source_model>
							<sort_order>56</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><optionefect>2</optionefect></depends>
						</flyimageto>						
						<confirmblock>
                            <label>Confirm Block After Adding Product To Cart</label>
                            <sort_order>66</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </confirmblock>						
						<loadjquery translate='label'>
                    		<label>Load jquery: </label>
                            <comment>Select No if the jQuery libraries already exist to remove jQuery conflicts. Select Yes to load jquery library from this module.</comment>
                    		<frontend_type>select</frontend_type>
                    		<sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</loadjquery>						
                    </fields>
                </general>
            </groups>
        </ajaxaddtocart>
    </sections>
</config>
